<%= form_with(model: receive_email, local: true) do |form| %>
  <% if receive_email.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(receive_email.errors.count, "error") %> prohibited this receive_email from being saved:</h2>

      <ul>
      <% receive_email.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
        </div>    
    </div>
  </div>
  <% end %>

  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <%= form.label :name %> * :
        <%= form.text_field :name, class: "form-control" %>
      </div>    
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <%= form.label :email %> * :
        <%= form.text_field :email, class: "form-control" %>
      </div>    
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <%= form.label :phone %> * :
        <%= form.text_field :phone, class: "form-control" %>
      </div>    
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <%= form.label :message %> * :
        <%= form.text_field :message, class: "form-control" %>
      </div>    
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <%= form.label :vehicle %> * :
        <%= form.text_field :vehicle, class: "form-control" %>
      </div>    
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <%= form.label :price %> * :
        <%= form.text_field :price, class: "form-control" %>
      </div>    
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <%= form.label :year %> * :
        <%= form.text_field :year, class: "form-control" %>
      </div>    
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <%= form.label :link_vehicle %> * :
        <%= form.text_field :link_vehicle, class: "form-control" %>
      </div>    
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <%= form.label :brand_vehicle %> * :
        <%= form.text_field :brand_vehicle, class: "form-control" %>
      </div>    
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <%= form.label :model_vehicle %> * :
        <%= form.text_field :model_vehicle, class: "form-control" %>
      </div>    
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <%= form.label :kilometer_vehicle %> * :
        <%= form.text_field :kilometer_vehicle, class: "form-control" %>
      </div>    
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <%= form.label :accessories_vehicle %> * :
        <%= form.text_area :accessories_vehicle, class: "form-control" %>
      </div>    
    </div>
  </div>

  <div class="actions">
        <%= form.submit class: "btn btn-primary" %>
      </div>    
    </div>
  </div>
<% end %>
