<%= form_for "receive_email", url: read_email_path, :html => {:multipart =>true, class: "mt-3"}, method: :post do |f| %>
  <%= f.file_field :file, accept: 'eml' %><br>
  <%= f.submit 'Upload Email', class: "btn btn-info mt-2" %>
<% end %>

<%= form_with(model: @receive_email, local: true, :html => {class: "mt-3"}) do |form| %>

  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <%= form.label :name %> * :
        <%= form.text_field :name, class: "form-control" %>
      </div>    
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <%= form.label :email %> * :
        <%= form.text_field :email, class: "form-control" %>
        </div>    
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <%= form.label :phone %> * :
        <%= form.text_field :phone, class: "form-control" %>
        </div>    
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <%= form.label :message %> * :
        <%= form.text_field :message, class: "form-control" %>
        </div>    
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <%= form.label :vehicle %> * :
        <%= form.text_field :vehicle, class: "form-control" %>
        </div>    
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <%= form.label :price %> * :
        <%= form.text_field :price, class: "form-control" %>
        </div>    
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <%= form.label :year %> * :
        <%= form.text_field :year, class: "form-control" %>
        </div>    
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <%= form.label :link_vehicle %> * :
        <%= form.text_field :link_vehicle, class: "form-control" %>
        </div>    
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <%= form.label :brand_vehicle %> * :
        <%= form.text_field :brand_vehicle, class: "form-control" %>
        </div>    
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <%= form.label :model_vehicle %> * :
        <%= form.text_field :model_vehicle, class: "form-control" %>
        </div>    
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <%= form.label :kilometer_vehicle %> * :
        <%= form.text_field :kilometer_vehicle, class: "form-control" %>
        </div>    
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <%= form.label :accessories_vehicle %> * :
        <%= form.text_area :accessories_vehicle, cols: 40, rows: 15, class: "form-control" %>
        </div>    
    </div>
  </div>

  <div class="actions">
        <%= form.submit "Create Email", class: "btn btn-primary" %>
        </div>    
    </div>
  </div>
<% end %>
